# BE
**/[Bb]in/
**/[Oo]bj/
**/.vs/
**/.idea/
**/.vscode/

# Chặn các file rác phát sinh khi chạy/debug
*.user
*.suo
*.db
*.dll
*.exe
*.pdb
*.metadata
*.bin
*.cache
*.dtbcache.v2
*.futdcache.v2

# FE
**/node_modules/
**/dist/
**/build/
**/coverage/
.eslintcache


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

.env.*
!.env.example

# --- [ DOCKER ] ---
.docker/
# Chặn file môi trường của React
.env
.env.local
.env.development.local

# Chặn các file cấu hình chứa thông tin nhạy cảm cục bộ khác nếu có
*.user