# BE
**/[Bb]in/
**/[Oo]bj/
**/.vs/
**/.idea/
**/.vscode/

# Chặn các file rác phát sinh khi chạy/debug
*.user
*.suo
*.db
*.dll
*.exe
*.pdb
*.metadata
*.bin
*.cache
*.dtbcache.v2
*.futdcache.v2

# FE
**/node_modules/
**/dist/
**/build/
**/coverage/
.eslintcache


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

.env
.env.*
!.env.example

# --- [ DOCKER ] ---
.docker/